/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*custom editing*/

body { background: linear-gradient(rgba(173, 170, 169, 0.5),rgba(196, 190, 189, 0.5)), url(../media/road-01.jpeg)  ;
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 50% ;
background: rgb(41,45,33 0.5);


}

h1 { text-align: center;
color: white;
font-size: 40px;
font-weight: 600;
padding-top: 15px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-bottom: 100px;}

.flex { display:flex;
justify-content: space-evenly;
align-items: baseline;}

.box-1 { width: 300px;
	height: 200px;
background-color: rgb(255,2,72);
text-align: center;
border-radius: 10px;


}

.box-2 {width: 300px;
	height: 200px;
	background-image: linear-gradient(to right, black,red);
	text-align: center;
	border-radius: 10px;
	}
	.box-3 {width: 300px;
		height: 200px;	
		background-color: aqua;
		text-align: center;
		background-image: radial-gradient(red,black);
		border-radius: 10px;
	}

		h2 { padding-top: 100px;
		font-size: 18px;
	font-weight: 600;}
		
	.box-4 {width: 85%;
		 height: 500px;
	
background: linear-gradient(rgba(221, 204, 194, 0.5),rgba(236, 74, 49, 0.5)), url(../media/beach-02.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: 50% 50%;
margin-left: 120px;
margin-top: 50px;
margin-bottom: 50px;
border-radius: 20px;}

.box-4 h3 { text-align: center;
padding-top: 250px;
font-size: 25px;
font-weight: 800;}

		
